<section class="site-banner home border-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 banner-txt align-self-center">
          <h1 class='m-0'>Learn something new every day.</h1>
          <div class='mt-3 mb-4'>
          <p class="m-0">The best way to learn to code study any topic, anytime. Choose from thousands of expert-led courses now.</p>
          </div>
          <button (click)="startLearning()" title="Start Learning Now" class="btn site-btn" >Start Learning Now!</button>
        </div>
        <div class="col-md-6 d-none d-md-block">
          <figure class="d-flex justify-content-end">
         <img src="assets/images/codex-bnr.svg" alt="">
          </figure>
        </div>
      </div>
    </div>
  </section>
  
  <section>
    <div class="container py-4">
      <div class="row">
        <div class="online-courses text-center">
          <h2 class="py-2">
            Online <span>Courses</span> and Online <span>Tutorials </span>
            from Codex View
          </h2>
          <p>
            At <strong>codexview.com</strong> you can learn the essentials of web development
            technologies from the basic to advanced topics, along with real
            life practice examples and useful references, so that you can
            create your own website or build career in web development. The
            best free web design & web development tutorials. 85% of people
            learning for professional report career benefits like getting a
            promotion, a raise, or starting a new career. Technologists need
            the latest skills to do their jobs effectively. And technology
            leaders need visibility into how their teams work to put the
            right people on the right projects.
          </p>
        </div>
      </div>
    </div>
  </section>