<section class="site-inside-banner site-banner about-bnr" style="max-height: 160px;">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 align-self-center">
          <h1 class="text-white">{{name}}</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item"><a href="/" title='Home'>HOME</a></li>
              <li class="breadcrumb-item text-white text-uppercase">{{name}}</li>
            </ol>
          </nav>
        </div>
        <div class="col-sm-7 p-3 d-none d-md-block">
         <!-- banner add  -->
        </div>
        <div class="col-sm-2 d-none d-md-block">
          <figure class="d-flex justify-content-end mb-0"><img src="{{bnrImg}}" style="height: 150px;" alt="banner-img" height='auto' width='auto' priority={true} /></figure>
        </div>
      </div>
    </div>
  </section>
